
html{
    background-image: url(nipsey2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;

}
.container1 .title{
    text-align: center;
    color: white;
}

.containter2 .about{
    color: white;
    text-align: center;
}
.container3 .thoughts{
    color: white;
}
.inspire .me{
    color: white;
}

ul{
    list-style: none;
}